body{
    background-image: url(https://img.freepik.com/free-vector/voice-assistant-concept-sound-wave-voice-sound-recognition-equalizer-wave-flow-background_208588-397.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Lora', serif;
}

.div1{
    background-color: rgba(255, 255, 255, 0.425);
    color: black;
    font-family: 'Lora', serif;
}

.divindex1{
    background-color: rgba(255, 255, 255, 0.553);
    font-family: 'Lora', serif;
}

.divindex2{
    background-color: rgba(0, 255, 255, 0.525);
    font-family: 'Lora', serif;
}

.divindex3{
    background-color: rgba(38, 255, 0, 0.525);
    font-family: 'Lora', serif;
}

.divFooter{
    position: fixed;
    letter-spacing: 3px;
    font-weight: bold;
    background-color: rgba(255, 217, 0, 0.365);
    color: aqua;
    font-family: 'Inconsolata', monospace;
    bottom: 0;
    text-align: center;
    line-height: 3;
    text-shadow: 5px 5px 5px gray;

}